Repository iTwin/bis-schemas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iTwin/bis-admins, @naveedkhan8067, @ColinKerr, @iTwin/bis, @christophermlawson, @iTwin/ec-reviewers, @iTwin/bis-terrain, @iTwin/bis-plant, @iTwin/bis-geotechnical-interpretation, @iTwin/bis-geotechnical-exploration, @iTwin/bis-structural-analysis, @iTwin/bis-structural-design-concrete, @grigasp, @daurak, @mrserg71, @diegoalexdiaz, @saeidbama, @jchick-bentley, @JValiunas, @MarcBedard8, @iTwin/bis-release-admins

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @iTwin/bis-admins

.github                                                       @naveedkhan8067 @ColinKerr
.gitignore                                                    @naveedkhan8067 @ColinKerr

SchemaInventory.json                                          @iTwin/bis
ignoreSchemaList.json                                         @naveedkhan8067 @ColinKerr @christophermlawson
snapshotInformation.json                                      @naveedkhan8067 @ColinKerr @christophermlawson

/docs/                                                        @christophermlawson @naveedkhan8067
/cmaps/                                                       @ColinKerr @naveedkhan8067
/test/                                                        @naveedkhan8067 @ColinKerr
/tools/                                                       @iTwin/ec-reviewers

/Domains/                                                     @iTwin/bis
/Standard/                                                    @iTwin/bis

/Domains/Terrain/                                             @iTwin/bis-terrain
/Domains/Plant/                                               @iTwin/bis-plant

/Domains/Geotechnical/GeoModeler/                             @iTwin/bis-geotechnical-interpretation
/Domains/Geotechnical/GeotechnicalInterpretation/             @iTwin/bis-geotechnical-interpretation
/Domains/Geotechnical/GeotechnicalExploration/                @iTwin/bis-geotechnical-exploration

/Domains/StructuralAnalysis/                                  @iTwin/bis-structural-analysis
/Domains/Profiles/                                            @iTwin/bis-structural-analysis
/Domains/StructuralDesign/                                    @iTwin/bis-structural-design-concrete

/Domains/Core/                                                @ColinKerr
/Domains/PresentationRules/                                   @grigasp

/Domains/Construction/                                        @daurak
/Domains/FederatedDocumentStore/                              @daurak
/Domains/Simulation4DResults/                                 @daurak @mrserg71

/Domains/NetworkTopology/                                     @diegoalexdiaz
/Domains/Earthwork/                                           @diegoalexdiaz
/Domains/Civil/                                               @diegoalexdiaz
/Domains/Civil/BridgeStructuralPhysical/                      @saeidbama

/Domains/Rebar/                                               @jchick-bentley
/Domains/Fasteners/                                           @jchick-bentley
/Domains/StructuralMaterials/                                 @jchick-bentley
/Domains/StructuralPhysical/*.ecschema.xml                    @jchick-bentley

/Domains/Grids/                                               @JValiunas
/Domains/ClassificationSystems/                               @JValiunas
/Domains/BuildingSpatial/                                     @JValiunas
/Domains/SpatialComposition/                                  @JValiunas
/Domains/QuantityTakeoffsAspects/                             @JValiunas
/Domains/Egress/                                              @JValiunas
Domains/DistributionSystems/                                  @JValiunas
Domains/BuildingSpacePlanning/                                @JValiunas

/Domains/RealityModeling/**/DataCaptureSchema/                @MarcBedard8

/Domains/**/Released/*                                        @iTwin/bis-release-admins
/Standard/**/Released/*                                       @iTwin/bis-release-admins

EN:AddedLegacyOpenBuildingProperties
  Domains/Building/BuildingDataGroupBase/BuildingDataGroupBase.ecschema.xml
Owners: @iTwin/bis

Added more OpenBuildings Legacy Members for Structural Elements
  Domains/Building/BuildingDataGroupBase/BuildingDataGroupBase.ecschema.xml
Owners: @iTwin/bis

EN:Update_version=01.00.02
  Domains/Building/BuildingDataGroupBase/BuildingDataGroupBase.ecschema.xml
Owners: @iTwin/bis

SwapLocalOffsetX-Y
  Domains/Building/BuildingDataGroupBase/BuildingDataGroupBase.ecschema.xml
Owners: @iTwin/bis

Update SchemaInventory.json
  SchemaInventory.json
Owners: @iTwin/bis

Added Legacy Structural Properies for OpenBuilding Designer
  Domains/Building/BuildingDataGroupBase/BuildingDataGroupBase.ecschema.xml
  SchemaInventory.json
Owners: @iTwin/bis

Added Legacy Structural Properies for OpenBuilding Designer (#28)
  Domains/Building/BuildingDataGroupBase/BuildingDataGroupBase.ecschema.xml
  SchemaInventory.json
Owners: @iTwin/bis

Release BuildingDataGroupBase.01.00.02.ecschema.xml
  Domains/Building/BuildingDataGroupBase/Released/BuildingDataGroupBase.01.00.02.ecschema.xml
  SchemaInventory.json
Owners: @iTwin/bis-release-admins, @iTwin/bis

Release BuildingDataGroupBase.01.00.02.ecschema.xml (#29)
  Domains/Building/BuildingDataGroupBase/Released/BuildingDataGroupBase.01.00.02.ecschema.xml
  SchemaInventory.json
Owners: @iTwin/bis-release-admins, @iTwin/bis

Fix the direction of slashes in doc links
  docs/schema-cmap-class-style-guide.md
  docs/schema-cmap-instance-style-guide.md
  docs/schema-cmap-style-guide.md
Owners: @christophermlawson, @naveedkhan8067

Fix the direction of slashes in doc links (#30)
  docs/schema-cmap-class-style-guide.md
  docs/schema-cmap-instance-style-guide.md
  docs/schema-cmap-style-guide.md
Owners: @christophermlawson, @naveedkhan8067

wip: improve punctuation hyphens and parens
  Domains/Core/BisCore.remarks.md
Owners: @ColinKerr

wip: commas around 'for example'
  Domains/Core/BisCore.remarks.md
Owners: @ColinKerr

wip: update schema inventory
  SchemaInventory.json
  package-lock.json
Owners: @iTwin/bis, @iTwin/bis-admins

omit kofQ avoid sch valdn er. b/c xsd 3.2 in AECUN
  Domains/Core/BisCore.ecschema.xml
Owners: @ColinKerr

wip: add note about omitted kidOfQuantity
  Domains/Core/BisCore.remarks.md
Owners: @ColinKerr

wip: added punctuation.
  Domains/Core/BisCore.remarks.md
Owners: @ColinKerr

wip: mv density from struct. mat. to phys. mat. (#18)
  Domains/Core/BisCore.ecschema.xml
  Domains/Core/BisCore.remarks.md
  Domains/StructuralMaterials/StructuralMaterials.ecschema.xml
  SchemaInventory.json
  package-lock.json
Owners: @ColinKerr, @jchick-bentley, @iTwin/bis, @iTwin/bis-admins

Updated schemas based on new CIF v10.10.20.
  Domains/Civil/Connectors/CivilInfrastructureFramework/CifBridge.ecschema.xml
  Domains/Civil/Connectors/CivilInfrastructureFramework/CifCommon.ecschema.xml
  Domains/Civil/Connectors/CivilInfrastructureFramework/CifHydraulicAnalysis.ecschema.xml
  Domains/Civil/Connectors/CivilInfrastructureFramework/CifHydraulicResults.ecschema.xml
  Domains/Civil/Connectors/CivilInfrastructureFramework/CifRail.ecschema.xml
  Domains/Civil/Connectors/CivilInfrastructureFramework/CifSubsurfaceConflictAnalysis.ecschema.xml
Owners: @diegoalexdiaz

Picked up new properties on custom-mapped classes.
  Domains/Civil/Connectors/CivilInfrastructureFramework/CifBridge.ecschema.xml
  Domains/Civil/Connectors/CivilInfrastructureFramework/CifSubsurface.ecschema.xml
Owners: @diegoalexdiaz

Addressed duplicate display labels.
  Domains/Civil/Connectors/CivilInfrastructureFramework/CifBridge.ecschema.xml
Owners: @diegoalexdiaz

Removed duplicate DeckAspect class.
  Domains/Civil/Connectors/CivilInfrastructureFramework/CifBridge.ecschema.xml
Owners: @diegoalexdiaz

header updated in license file
  LICENSE.md
Owners: @iTwin/bis-admins

header updated in license file (#31)
  LICENSE.md
Owners: @iTwin/bis-admins
