Repository iTwin/bis-schemas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iTwin/bis-admins, @itwin/bis-admins, @iTwin/bis, @christophermlawson, @iTwin/ec-reviewers, @iTwin/bis-core, @iTwin/bis-grids, @JValiunas, @iTwin/bis-distributionsystems, @iTwin/bis-structural-analysis, @iTwin/bis-civil-core, @iTwin/bis-civil-bridge, @iTwin/bis-civil-roads, @daurak, @iTwin/bis-terrain, @iTwin/bis-structural, @iTwin/bis-geotechnical-exploration, @iTwin/bis-plant, @iTwin/bis-civil-rail, @iTwin/bis-geological-model, @iTwin/bis-iot, @iTwin/bis-structural-design-concrete, @iTwin/bis-civil-cifconnector, @iTwin/bis-civil-csconnector, @grigasp, @MarcBedard8, @iTwin/bis-release-admins

WiMSE icon added
  Domains/0-Core/media/imodel-schema-editor-icon.png
Owners: @iTwin/bis-core

Fixed relationship strengths for FaultBlock's children
  Domains/3-DisciplineOther/GeologicalModel/GeologicalModel.ecschema.xml
Owners: @iTwin/bis-geological-model

Deprecate SA:Structure class
  Domains/3-DisciplineOther/StructuralAnalysis/StructuralAnalysis.ecschema.xml
  Domains/3-DisciplineOther/StructuralAnalysis/StructuralAnalysis.remarks.md
  Domains/3-DisciplineOther/StructuralAnalysis/media/StructuralAnalysis.cmap
Owners: @iTwin/bis-structural-analysis

Fix StructuralAnalysis schema validation
  Domains/3-DisciplineOther/StructuralAnalysis/StructuralAnalysis.ecschema.xml
Owners: @iTwin/bis-structural-analysis

Polish StructuralAnalysis schema changes
  Domains/3-DisciplineOther/StructuralAnalysis/StructuralAnalysis.ecschema.xml
  Domains/3-DisciplineOther/StructuralAnalysis/StructuralAnalysis.remarks.md
  Domains/3-DisciplineOther/StructuralAnalysis/media/StructuralAnalysis-instance.png
  Domains/3-DisciplineOther/StructuralAnalysis/media/StructuralAnalysis.cmap
Owners: @iTwin/bis-structural-analysis

Deprecate SA:Structure class (#134)
  Domains/3-DisciplineOther/StructuralAnalysis/StructuralAnalysis.ecschema.xml
  Domains/3-DisciplineOther/StructuralAnalysis/StructuralAnalysis.remarks.md
  Domains/3-DisciplineOther/StructuralAnalysis/media/StructuralAnalysis-instance.png
  Domains/3-DisciplineOther/StructuralAnalysis/media/StructuralAnalysis.cmap
Owners: @iTwin/bis-structural-analysis

test copying
  tools/MarkdownGeneration/generate-docs.yaml
Owners: @iTwin/ec-reviewers

copy logo from ecjson2md to media
  tools/MarkdownGeneration/generate-docs.yaml
Owners: @iTwin/ec-reviewers

icon removed from media
  Domains/0-Core/media/imodel-schema-editor-icon.png
Owners: @iTwin/bis-core

Upgrade Standard schemas to ECXML 3.2.
  SchemaInventory.json
  Standard/CoreCustomAttributes.ecschema.xml
  Standard/ECDb/ECDbMap.ecschema.xml
  Standard/ECDb/ECDbSchemaPolicies.ecschema.xml
Owners: @iTwin/bis

Upgrade to ECXML 3.2.
  Domains/4-Application/Connectors/CivilInfrastructureFramework/Deprecated/OpenBridgeModelerCE/OpenBridgeModelerCE.ecschema.xml
  Domains/4-Application/PresentationRules/PresentationRules.ecschema.xml
  Domains/4-Application/RealityModeling/PointCloudSchema/PointCloud.ecschema.xml
  Domains/4-Application/RealityModeling/RasterSchema/Raster.ecschema.xml
  Domains/4-Application/RealityModeling/ScalableMeshSchema/ScalableMesh.ecschema.xml
  Domains/4-Application/RealityModeling/ThreeMxSchema/ThreeMx.ecschema.xml
Owners: @iTwin/bis-civil-cifconnector, @grigasp, @iTwin/bis

Update SchemaInventory.
  SchemaInventory.json
Owners: @iTwin/bis

Upgrade to ECXML 3.2.
  SchemaInventory.json
  Standard/SchemaLocalizationCustomAttributes.ecschema.xml
Owners: @iTwin/bis

Upgrade BridgeStructuralPhysical to ECXML 3.2.
  Domains/2-DisciplinePhysical/Civil/BridgeStructuralPhysical/BridgeStructuralPhysical.ecschema.xml
  Domains/4-Application/Connectors/CivilInfrastructureFramework/Deprecated/OpenBridgeModelerCE/OpenBridgeModelerCE.ecschema.xml
Owners: @iTwin/bis-civil-bridge, @iTwin/bis-civil-cifconnector

Upgrade Plant schemas to ECXML 3.2.
  Domains/2-DisciplinePhysical/Plant/PlantCustomAttributes.ecschema.xml
  Domains/3-DisciplineOther/Plant/ProcessPidGraphical.ecschema.xml
  Domains/4-Application/Plant/OpenPlantExtensions.ecschema.xml
Owners: @iTwin/bis-plant, @iTwin/bis

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @iTwin/bis-admins

.github                                                                             @itwin/bis-admins
.gitignore                                                                          @itwin/bis-admins

SchemaInventory.json                                                                @iTwin/bis
ignoreSchemaList.json                                                               @itwin/bis-admins @christophermlawson
snapshotInformation.json                                                            @itwin/bis-admins @christophermlawson

/docs/                                                                              @itwin/bis-admins @christophermlawson
/cmaps/                                                                             @itwin/bis-admins
/test/                                                                              @itwin/bis-admins @christophermlawson
/tools/                                                                             @iTwin/ec-reviewers

/Domains/                                                                           @iTwin/bis
/Standard/                                                                          @iTwin/bis

/Domains/0-Core/                                                                    @iTwin/bis-core
/Domains/1-Common/Grids/                                                            @iTwin/bis-grids
/Domains/1-Common/ClassificationSystems/                                            @JValiunas @iTwin/bis-core
/Domains/1-Common/DistributionSystems/                                              @iTwin/bis-distributionsystems
/Domains/1-Common/DocumentMetadata/                                                 @iTwin/bis-core
/Domains/1-Common/NetworkTopology/                                                  @iTwin/bis-core
/Domains/1-Common/Profiles/                                                         @iTwin/bis-structural-analysis
/Domains/1-Common/SpatialComposition/                                               @JValiunas @iTwin/bis-core

/Domains/2-DisciplinePhysical/Building/BuildingSpatial/                             @JValiunas
/Domains/2-DisciplinePhysical/Civil/                                                @iTwin/bis-civil-core
/Domains/2-DisciplinePhysical/Civil/BridgePhysical/                                 @iTwin/bis-civil-bridge
/Domains/2-DisciplinePhysical/Civil/BridgeStructuralPhysical/                       @iTwin/bis-civil-bridge
/Domains/2-DisciplinePhysical/Civil/CivilPhysical/                                  @iTwin/bis-civil-core
/Domains/2-DisciplinePhysical/Civil/LinearlyLocatedAttributions/RoadAttributions/   @iTwin/bis-civil-roads
/Domains/2-DisciplinePhysical/Civil/SpatialComposition/BridgeSpatial/               @iTwin/bis-civil-bridge
/Domains/2-DisciplinePhysical/Civil/SpatialComposition/RoadSpatial/                 @iTwin/bis-civil-roads
/Domains/2-DisciplinePhysical/Civil/RoadRailAlignment/                              @iTwin/bis-civil-core
/Domains/2-DisciplinePhysical/Civil/RoadRailUnits/                                  @iTwin/bis-civil-core
/Domains/2-DisciplinePhysical/Construction/                                         @daurak
/Domains/2-DisciplinePhysical/Earthwork/                                            @iTwin/bis-terrain
/Domains/2-DisciplinePhysical/Fasteners/                                            @iTwin/bis-structural
/Domains/2-DisciplinePhysical/GeotechnicalExploration/                              @iTwin/bis-geotechnical-exploration
/Domains/2-DisciplinePhysical/QuantityTakeoffsAspects/                              @JValiunas @iTwin/bis-core
/Domains/2-DisciplinePhysical/Rebar/                                                @iTwin/bis-structural
/Domains/2-DisciplinePhysical/StructuralMaterials/                                  @iTwin/bis-structural
/Domains/2-DisciplinePhysical/StructuralPhysical/*.ecschema.xml                     @iTwin/bis-structural
/Domains/2-DisciplinePhysical/Terrain/                                              @iTwin/bis-terrain
/Domains/2-DisciplinePhysical/Plant/                                                @iTwin/bis-plant

/Domains/3-DisciplineOther/Civil/NetworkTopology/RailNetwork/                       @iTwin/bis-civil-rail
/Domains/3-DisciplineOther/Civil/NetworkTopology/RoadNetwork/                       @iTwin/bis-civil-roads
/Domains/3-DisciplineOther/GeologicalModel/                                         @iTwin/bis-geological-model
/Domains/3-DisciplineOther/IoT/                                                     @iTwin/bis-iot
/Domains/3-DisciplineOther/StructuralAnalysis/                                      @iTwin/bis-structural-analysis
/Domains/3-DisciplineOther/StructuralDesign/                                        @iTwin/bis-structural-design-concrete

/Domains/4-Application/BuildingSpacePlanning/                                       @JValiunas
/Domains/4-Application/Connectors/CivilInfrastructureFramework/                     @iTwin/bis-civil-cifconnector
/Domains/4-Application/Connectors/ConceptStation/                                   @iTwin/bis-civil-csconnector
/Domains/4-Application/Egress/                                                      @JValiunas
/Domains/4-Application/PresentationRules/                                           @grigasp
/Domains/4-Application/Simulation4DResults/                                         @daurak
/Domains/4-Application/RealityModeling/**/DataCaptureSchema/                        @MarcBedard8

/Domains/1-Common/Unused/                                                           @iTwin/bis-core
/Domains/2-DisciplinePhysical/Unused/                                               @iTwin/bis-core
/Domains/3-DisciplineOther/Unused/                                                  @iTwin/bis-core
/Domains/4-Application/Unused/                                                      @iTwin/bis-core

/Domains/**/Released/*                                                              @iTwin/bis-release-admins
/Standard/**/Released/*                                                             @iTwin/bis-release-admins
